@mixin set () {
	@include flexContainer((
		stretch: true,
		wrap: true
	));

	> li {
		@include flexItem(3, 1, 120px);
		list-style: none;
		max-width: 300px;
		box-sizing: border-box;
		border-left: 1px solid $lines;
		padding: 0 10px 5px;

		@include icon(chevron_right, 18);
		background-position: right 50%;


		&:nth-child(1) {
			background-color: rgba(46, 66, 114, 0.1);
		}
		&:nth-child(2) {
			background-color: rgba(46, 66, 114, 0.15);
		}
		&:nth-child(3) {
			background-color: rgba(46, 66, 114, 0.2);
		}
		&:nth-child(4) {
			background-color: rgba(46, 66, 114, 0.25);
		}
		&:nth-child(5) {
			background-color: rgba(46, 66, 114, 0.3);
		}
		&:nth-child(6) {
			background-color: rgba(46, 66, 114, 0.35);
		}
		&:nth-child(7) {
			background-color: rgba(46, 66, 114, 0.4);
		}


		// // this should work!!!
		// @for $i from 1 through 7 {
		// 	$opacity: ($i + 1) * 0.05;
		//   &:nth-child($i) {
		// 		background-color: rgba(46, 66, 114, $opacity);
		// 	}
		// }
	}
}

.set {
	@include flexContainer((
		stretch: true
	))
}

.set__name {
	padding: 10px;
	border-bottom: 1px solid $lines;
	position: relative;
	box-sizing: border-box;
	padding-right: 30px;
	color: $set-font-color;
}


.set__details {
	@include flexItem(1, 1);
}

.set__actions {
	@include actions('&>a, &>button');
}

.set__edit {
	@include primaryAction(mode_edit, $blue);
}

.set__edit-tunebooks {
	@include primaryAction(my_library_add, $green);
}

.set__tunebook-togglers {
	position: absolute;
	height: 100%;
	background: $neutral-bg;
	right: 100%;
	list-style: none;
	overflow-y: scroll;
	overflow-x: hidden;
	display:none;

	&.active {
		display: block;
	}
}


.set__tunes {
	@include set();
}

.set__view-abc {
	@include inlineIconButton(queue_music);
}

.set__tunebook {
	@include inlineIconButton('');
	height: 16px;
	width: 16px;
	background-size: 16px;
}
@each $tunebook in mandolin, guitar, whistle {
	.set__tunebook--#{$tunebook} {
		background-image: url('/assets/img/ic_#{$tunebook}_black.png');
	}
}