<li class="set" data-set-id="_id">
	<div class="set__details">
		<h2 class="set__name">{{ name }}

			{% for tunebook in tunebooks %}
				{% if tunebook.isListed %}
					<a href="/practice/{{tunebook.name}}" class="set__tunebook set__tunebook--{{tunebook.name}}"><i></i></a>
				{% endif %}
			{% endfor %}
		</h2>
		<ol class="set__tunes">
			{% for tuneIndex, tune in tunes %}
			<li><h4 class="set__tune-name"><button class="set__view-abc" data-tune-id="{{ tune._id }}"></button>{{ tune.name | deTheify | safe }}</h4>
				<p>{{ keys[tuneIndex] }} {{tune.rhythms[0]  }}
				{% for tuneTunebook in tune.tunebooks %}
					{% if tuneTunebook.isListed%}
						<a href="/practice/{{tuneTunebook.name}}" class="set__tunebook set__tunebook--{{tuneTunebook.name}}"><i></i></a>
					{% endif %}
				{% endfor %}
				</p>

			</li>
			{% endfor %}
		</ol>
	</div>
	<div class="set__actions">
		<ul class="set__tunebook-togglers">
			{% for tunebook in tunebooks %}
				<fieldset class="set__tunebook-toggle">
					<input {% if tunebook.isListed %}checked {% endif %}type="checkbox" value="{{tunebook.name}}">
					<label>{{tunebook.name}}</label>
				</fieldset>
			{% endfor %}
		</ul>
		<button class="set__edit-tunebooks"><i></i></button>
		<a href="/sets/edit/{{_id}}" class="set__edit"><i></i></a>
	</div>

</li>