<div class="main-nav navbar navbar-inverse navbar-fixed-bottom page-{{pageState.section + '-' + pageState.subSection}}" ng-controller="topNav">
    <div class="navbar-inner" >
        <div class="container-fluid">

            <a class="btn btn-navbar" ng-click="isCollapsed = !isCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Jigs 'n' Reels</a>
            <div>

            <div class="nav-collapse collapse" collapse="isCollapsed">
                <!-- <p class="navbar-text pull-right">
                    Logged in as <a href="#" class="navbar-link">wheresrhys</a>
                </p> -->
                <ul class="nav">
                    <li><a href="/tunes/{{pageState.instrument}}">Tunes</a></li>
                    <li><a href="/sets/new/{{pageState.instrument}}">Set Builder</a></li>
                    <li><a href="/sets/list/{{pageState.instrument}}">Sets</a></li>
                    <li class="divider-vertical"></li>
                     <li ng-hide="pageState.instrument == 'mandolin'"><a class="btn" style="padding: 4px 12px;" href="{{pageState.path}}/mandolin">Mandolin</a></li>
                     <li  ng-hide="pageState.instrument == 'whistle'"><a class="btn" style="padding: 4px 12px;" href="{{pageState.path}}/whistle">Whistle</a></li>
                    <!-- <li class="instrument-selector">
                        <div class="btn-group">
                            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">{{(pageState.instrument || 'all')|capitalise}}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{{pageState.path}}/mandolin">Mandolin</a></li>
                                <li><a href="{{pageState.path}}/whistle">Whistle</a></li>
                                <li><a href="{{pageState.path}}">All</a></li>
                            </ul>
                        </div>
                    </li> -->
                    <li class="divider-vertical"></li>
                    <li><button class="btn" ng-click="addTune()"><span class="icon-plus"></span>Add a tune</button></li>
                </ul>
            </div>
        </div><!--/.nav-collapse -->
        <form class="navbar-form pull-left">
            <button ng-click="toggleNewTunes()" ng-show="newTuneCount" class="btn btn-warning"><span class="icon-tasks"></span>{{newTuneCount}} new tunes</button>
        </form>
        </div>
    </div>
</div>
