li.practice--sticky {
    @include uiListStrongItem();
}
.practice--set {
    .practice__subject__header {
        padding: 10px;
        border-bottom: 1px solid $lines;
        position: relative;
        box-sizing: border-box;
        padding-right: 30px;
    }
    .practice__subject__name {
        color: $set-font-color;
    }
}

.practice__set__edit {
    position: absolute;
    top: 2px;
    right: 5px;   
}

.practice--tune .practice__subject {
    padding: 10px;
}

.practice--tune .practice__subject__name, 
.practice__set__tune-name {
    color: $tune-font-color
}

.practice__basics {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
}

.practice__subject {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
}

.practice__actions {
    order: 0;
    flex: 0 0 auto;
    align-self: auto;
    width: 60px;
    min-width: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;//flex-start;
}



.practice__stats {
    line-height: 1.4;
    padding-left: 20px;
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 2px 2px;
}

.practice__stats--good {
    background-image: url('img/ic_thumb_up.svg');
}

.practice__stats--bad {
    background-image: url('img/ic_thumb_down.svg');   
}

.practice__stats--neutral {
    background-image: url('img/ic_thumbs_up_down.svg');
}

.practice__action {
    border: none;
    outline: none;
    order: 0;
    flex: 1 1 auto;
    align-self: auto;    
    cursor: pointer;
    min-height: 35px;
    text-align: center;

    i {
        display: inline-block;
        width: 18px;
        height: 18px;
        color: #fff;
        background-size: 18px;
        background-repeat: no-repeat;
        background-position: 0px center;
    }
}


.practice__good {
    background-color: #2a0;
    
    i {
        background-image: url('img/ic_thumb_up_white.svg');
    }
}

.practice__bad {
    background-color: #b00;
    
    i {
        background-image: url('img/ic_thumb_down_white.svg');
    }
}

.practice__skip {
    background-color: #27d;
    
    i {
        background-image: url('img/ic_not_interested_white.svg');
    }
}


.practice__set {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;//flex-start;

    > li {
        order: 0;
        flex: 1 1 auto;
        align-self: auto;
        list-style: none;
        max-width: 300px;
        box-sizing: border-box;
        border-left: 1px solid $lines;
        padding: 10px;

        &:first-child {
            border-left: none;
        }
    }
}

.practice__view-abc {
    border: none;
    outline: none;
    cursor: pointer;
    height: 20px;
    display: inline-block;
    width: 20px;
    background: url('img/ic_score.svg') no-repeat;
    background-size: 20px;
    position: relative;
    top: 5px;    
}
