<li class="practice {% if isSticky %}practice--sticky{% endif %} practice--{{type}}" data-practice-id={{ _id }}>
    <div class="practice__subject">
        {% if type === 'set' %}
            <div class="practice__subject__header">
                {% if src.name %}
                <h3 class="practice__subject__name">{{ src.name | deTheify | safe }}</h3>
                {% endif %}
                <a href="/set-editor/{{src._id}}" class="practice__set__edit">edit</a>
            </div>
            <ol class="practice__set">
                {% for tuneIndex, tune in src.tunes %}
                <li><h4 class="practice__set__tune-name">{{ tune.name | deTheify | safe }}</h4>{{ src.keys[tuneIndex] }} {{tune.rhythms[0] }}
                <a href="http://thesession.org/tunes/{{ tune.sessionId }}">abc</a></li>
                {% endfor %}
            </ol>
            
        {% else %}
            {% if src.name %}
                <h3 class="practice__subject__name">{{ src.name | deTheify | safe }}</h3>
            {% endif %}
            <p>{{ src.keys[0] }} {{src.rhythms[0] }} <a href="http://thesession.org/tunes/{{ src.sessionId }}">abc</a></p>
        {% endif %}
    </div>

    <div class="practice__actions">
        {% if lastPracticed %}<p class="practice__stats practice__stats--{{ lastPracticeQuality }}">{{ lastPracticed | daysAgo }}</p>{% endif %}
        <button class="practice__action practice__good" data-practice-type="good"><i></i></button>
        <button class="practice__action practice__bad" data-practice-type="bad"><i></i></button>
        <button class="practice__action practice__skip" data-practice-type="skip"><i></i></button>
    </div>
</li>
