@import "../../bower_components/bootstrap-sass/lib/bootstrap";
/* Will be compiled down to a single stylesheet with your sass files */
h1 small {
    font-size: 0.8em;
}
.dev .navbar .brand{
    color: #a00;
    &:after {
        content: 'DEV';
        color: #a00;
    }
}

.prod .navbar .brand {
    color: #0a0;
    &:after {
        content: 'PROD';
        color: #0a0;
    }
}
.abcEditor {
    display: block;
    width: 100%;
    height: 150px;
    margin: 10px 0 0;
    box-sizing: border-box;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
}
.sidebar-nav {
    padding: 9px 0;
}
.tune-viewer {
    min-width: 800px;
    top: 5%;
    bottom: 5%;
    margin-left: -400px;
}

.performance-rater .btn {
    padding: 0;
    margin-left: 2px;
    height: 15px;
    width: 15px;
    border-radius: 10px;
    margin-top: 7px;
    opacity: 0.8;
    box-sizing: border-box;
}

.tune-row td {
   
   
}

.tune-row.ng-leave {
    -webkit-transition:0.25s linear all;
   transition:0.25s linear all;
   opacity: 1;
    
}
.tune-row.ng-leave-active {
    opacity: 0; 
}

.tune-row.ng-enter {
    -webkit-transition:0.25s linear all;
   transition: 0.25s linear all;
   transition-delay: 0.25s;
   opacity: 0;
    
}

.tune-row.ng-enter-active {
    opacity: 1; 
}

.performance-rater .btn:hover {
    opacity: 1;
}

.performance-rater .btn.current {
    border-width: 3px;
    opacity: 1;
}

.performance-rater .btn.best {
    box-shadow: 0px 0px 3px 2px rgba(0,0,0, 0.3);
} 

.tune-list-header input,
.tune-list-header select {
    width: 150px;
    margin-left: 10px;
}

.tune-list-header .brand {
    margin: 0;
    padding: 0;
}

.tune-list-header table {
    background: white;
}

.add-tune {
    min-width: 800px;
   /* top: 5%;
    bottom: 5%;*/
    margin-left: -400px;
}

.score-snippet {
    cursor: pointer;
}


.score-snippet svg {
    margin-top: -20px;
    height: 60px;
}

.tune-viewer.fade {
    top: 10%;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}

.tune-viewer .toggle-props {
    position: absolute;
    top: 10px;
    right: 40px;
}

.tune-viewer .modal-header {
    position: relative;
}

.tune-viewer .properties {
    background: white;
    position: relative;
    z-index: 1;
}

.tune-viewer .tune-heading small {
    display: inline-block;
    margin-left: 5px;
    font-weight: normal;
}

.tune-viewer .modal-body {
    max-height: none;
    overflow-y: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 48px;
    bottom: 60px;
}

.score-wrapper {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.tune-viewer .modal-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
}

.table select {
    width: auto;
    max-width: 120px;
}

.tune-heading em {
    font-size: 0.75em;
    font-family: serif;
}

.tune-heading small {
    font-size: 0.5em;
    font-weight: bold;
    display: block;
    line-height: 1.2;   
}

.table select {
    margin-bottom: 0;
}

.list-tunes td {
    height: 43px;
    padding-bottom: 0;
}

.list-tunes .score-snippet {
    padding: 0;
}

body.tunes.all .navbar :not('.instrument-selector') a[href='/tunes'] {    
    color: white;
}

body.mandolin .instrument-selector a[href$='mandolin'],
body.whistle .instrument-selector a[href$='whistle'] {
    background: #eee;
    font-weight: bold;
}

body.mandolin .main-nav .navbar-inner {
    background: #462C1B;
}

body.whistle .main-nav .navbar-inner {
    background: #054B05;
}

.set-tunes {

    .score-snippet,
    .performance-rater {
        display: none;
    }
    
    > div,
    .tune-heading {
        display: inline-block;
    }

    > div:after {
        content: ' -> ';
    }

    > div:last-child:after {
        content: none;
    }


    
}

.expanded .set-tunes {
    > div {
        display:block;
    }
    .score-snippet,
    .tune-heading,
    .performance-rater {
        display: inline-block;
    }

    > div:after {
        content: none;
    }
}


/*body.tunes.whistle .navbar a[href^='/tunes'][href$='whistle'],
body.tunes.all*/