<section>
  <div class="modal-header clearfix">
	  <h3>Edit performance for {{instrument}}</h3>
  </div>
  <div class="modal-body">
  <select
	 ng-model="tune.performance.difficulty"
	 ng-options="opt.value as opt.label for opt in dropdowns.difficulty"
	 ng-change="update()" >
	 <option value="">-- difficulty --</option>
  </select>
<select
	 ng-model="tune.dummyStandard"
	 ng-options="opt.value as opt.label for opt in dropdowns.playback"
	 ng-change="update()" >
	 <option value="">-- standard --</option>
</select>
  <input type="checkbox"
	 ng-model="tune.mandolin.special"
	 ng-change="update()">&nbsp;Special
  </div>
  <div class="modal-footer">
	  <button ng-click="finishPerformanceEdit(tune)" class="btn btn-warning">Done</button>
  </div>
</section>