<div ng-controller="newTunes" >
  <div ng-show="showNewTunes">
    <h2>New tunes</h2>
    <button ng-click="undo()"  ng-show="lastTuneRemoved">undo</button>
    <table class="table table-striped">

        <thead>
            <tr>
                
                <th colspan="2">Tune</th>
                <th>Rating/Popularity</th>
                <th></th>
                <th>notes</th>
                <th>Performances</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="tune in newTunes">
                
                <td j-tune-heading data-tune="tune"></td>
                 <td j-draw-score 
                  tune="{{tune.scoreGenerator}}" 
                  snippet="true"
                  ng-click="expandTune({noPerformance: true})"
                  ></td>
                <td><select
                       ng-model="tune.tune.rating"
                       ng-options="opt.value as opt.label for opt in dropdowns.rating"
                       ng-change="update({rating: {{tune.tune.rating}}})" >
                       <option ng-if="tune.tune.rating === -1" value="">-- rate tune --</option>
                </select><br>
                <select
                       ng-model="tune.tune.popularity"
                       ng-options="opt.value as opt.label for opt in dropdowns.popularity"
                       ng-change="update()" >
                       <option ng-if="tune.tune.popularity === -1" value="">-- popularity --</option>
                </select></td>
                 <td><button ng-click="finished()">finished</button></td>
                <td><textarea ng-change="update()" ng-model="tune.tune.notes"></textarea></td>
                <td>
                    <button ng-click="editPerformanceForInstrument('mandolin')">Mandolin</button>
                    <button ng-click="editPerformanceForInstrument('whistle')">Whistle</button>
                </td>
                  
            </tr>
        </tbody>

  
    </table>
  </div>
</div>
    