li.piece--sticky {
	@include uiListStrongItem();
}
.piece--set {
	.piece__subject__header {
		padding: 10px;
		border-bottom: 1px solid $lines;
		position: relative;
		box-sizing: border-box;
		padding-right: 30px;
	}
	.piece__subject__name {
		color: $set-font-color;
	}
}

.piece__set__edit {
	position: absolute;
	top: 2px;
	right: 5px;
}

.piece--tune .piece__subject {
	padding: 10px;
}

.piece--tune .piece__subject__name,
.piece__set__tune-name {
	color: $tune-font-color
}

.piece__basics {
	@include flexContainer((
		stretch: true
	))
}

.piece__subject {
	@include flexItem(1, 1);
}

.piece__actions {
	@include flexItem(0, 0, 60px);
	@include flexContainer((
		vertical: true,
		stretch: true
	));
}

.piece__stats {
	line-height: 1.4;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 2px 2px;
}

.piece__stats--good {
	@include icon(thumb_up, 15);
}

.piece__stats--bad {
	@include icon(thumb_down, 15);
}

.piece__stats--neutral {
	@include icon(thumbs_up_down, 15);
}

.piece__practice {
	@include flexItem(0, 1, 35px);
	border: none;
	outline: none;
	cursor: pointer;
	min-height: 35px;
	text-align: center;

	i {
		display: inline-block;
		width: 18px;
		height: 18px;
		background-position: 0px center;
	}
}


.piece__practice--good {
	background-color: #2a0;

	i {
		@include icon(thumb_up, 18, white);
	}
}

.piece__practice--bad {
	background-color: #b00;

	i {
		@include icon(thumb_down, 18, white);
	}
}

.piece__practice--neutral {
	background-color: #b90;

	i {
		@include icon(thumbs_up_down, 18, white);
	}
}

.piece__practice--skip {
	background-color: #27d;

	i {
		@include icon(schedule, 18, white);
	}
}


.piece__set {
	@include flexContainer((
		stretch: true,
		wrap: true
	));

	> li {
		@include flexItem(3, 1, 120px);
		list-style: none;
		max-width: 300px;
		box-sizing: border-box;
		border-left: 1px solid $lines;
		padding: 10px;

		@include icon(chevron_right, 18);
		background-position: right 50%;

		&:nth-child(1) {
			background-color: rgba(46, 66, 114, 0.1)
		}
		&:nth-child(2) {
			background-color: rgba(46, 66, 114, 0.15)
		}
		&:nth-child(3) {
			background-color: rgba(46, 66, 114, 0.2)
		}
		&:nth-child(4) {
			background-color: rgba(46, 66, 114, 0.25)
		}
		&:nth-child(5) {
			background-color: rgba(46, 66, 114, 0.3)
		}
		&:nth-child(6) {
			background-color: rgba(46, 66, 114, 0.35)
		}
		&:nth-child(7) {
			background-color: rgba(46, 66, 114, 0.4)
		}


	}
}

.piece__view-abc {
	border: none;
	outline: none;
	cursor: pointer;
	height: 20px;
	display: inline-block;
	width: 20px;
	@include icon(queue_music, 20);
	position: relative;
	top: 5px;
}
