li.piece--sticky {
	@include uiListStrongItem();
}
.piece--set {
	.piece__subject__header {
		padding: 10px;
		border-bottom: 1px solid $lines;
		position: relative;
		box-sizing: border-box;
		padding-right: 30px;
	}
	.piece__subject__name {
		color: $set-font-color;
	}
}

.piece__set__edit {
	position: absolute;
	top: 2px;
	right: 5px;
}

.piece--tune .piece__subject {
	padding: 10px;
}

.piece--tune .piece__subject__name,
.piece__set__tune-name {
	color: $tune-font-color
}

.piece__actions {
	@include actions('.piece__practice');
}

.piece__stats {
	line-height: 1.4;
	padding-left: 20px;
	background-repeat: no-repeat;
	background-position: 2px 2px;
}

.piece__stats--good {
	@include icon(thumb_up, 15);
}

.piece__stats--bad {
	@include icon(thumb_down, 15);
}

.piece__stats--neutral {
	@include icon(thumbs_up_down, 15);
}

.piece__practice--good {
	@include primaryAction(thumb_up, $green);
}

.piece__practice--bad {
	@include primaryAction(thumb_down, $red);
}

.piece__practice--neutral {
	@include primaryAction(thumbs_up_down, $amber);
}

.piece__practice--skip {
	@include primaryAction(schedule, $blue);
}

.piece__set {
	@include set()
}

.piece__view-abc {
	@include inlineIconButton(queue_music);
}

.piece--mandolin .piece__subject {
	background: rgba(150, 70, 20, 0.1);
}

.piece--whistle .piece__subject {
	background: rgba(70, 200, 20, 0.1);
}
