<!DOCTYPE html>
<html class="no-js" data-environment="{{env}}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Jigs n Reels {{env}}</title>
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/assets/main.css">
    </head>
    <body>
        <a href="/sets">sets</a>
        <a href="/set-editor">set builder</a>
        <a href="/practice/mandolin">mandolin</a>
        <a href="/practice/whistle">whistle</a>
        <main></main>
        <script src="/assets/main.js"></script>
    </body>
</html>
