<div class="set-editor">
    <form class="set-editor__form">
        {% for type in tunes.types %}
            <select class="set-editor__tune-selector">
                <option value=""> --- pick a {{ type }} --- </option>
                {% for tune in tunes.tunes[type] %}
                <option value="{{ tune._id }}">{{ tune.name }} / {{ tune.keys }} / {{ tune.quality }} </option>
                {% endfor %}
            </select>
        {% endfor %}
        {% if set.tunes.length %}
            <ol>
                {% for tuneIndex, tune in set.tunes %}
                <li data-tune-id="{{ tune._id }}">{{ tune.name }}
                    {% if tune.keys.length > 1 %}
                        <select class="set-editor__tune__key-selector">
                            {% for key in tune.keys %}
                            <option value="{{ key }}" {% if key === set.keys[tuneIndex] %} selected {% endif %}>{{ key }}</option>
                            {% endfor %}
                        </select>
                    {% else %}
                        {{ tune.keys[0] }}
                    {% endif %}
                </li>
                {% endfor %}
            </ol>
            <input class="set-editor__set-name" value="{{set.name}}">

            
            {% if isEditing %}
            <input type="submit" value="save changes">
            <input class="set-editor__delete" type="button" value="delete set">
            {% else %}
            <input type="submit" value="save new set">
            {% endif %}
        {% endif %}
    </form>
</div>