<div class="set-builder">
    <form>
    {% for type in tunes.types %}
        <select class="set-builder__tune-selector">
            <option value=""> --- pick a {{ type }} --- </option>
            {% for tune in tunes.tunes[type] %}
            <option value="{{ tune.get('_id') }}">{{ tune.get('name') }} ({{ tune.get('keys') }})</option>
            {% endfor %}
        </select>
    {% endfor %}
    </form>
    <ol>
        {% for tune in set.tunes %}
        <li>{{ tune.name }}</li>
        {% endfor %}
    </ol>
</div>