<section>
    <div class="modal-header clearfix">
        <h3>Add a tune</h3>
    </div>
    <div class="modal-body">
        <div class="span4">
            <fieldset>
              <label>Name</label><input ng-model="newTune.name" ng-required/>
              <label>Author</label><input ng-model="newTune.author"/>
              <label>Rhythm</label><select
                     ng-model="newTune.rhythm"
                     ng-options="opt for opt in dropdowns.rhythm"
                     ng-required
                     >
              </select>
              <label>Root</label><select
                     ng-model="newTune.root"
                     ng-options="opt for opt in dropdowns.root"
                     ng-required
                     >
              </select>
              <label>Mode</label><select
                     ng-model="newTune.mode"
                     ng-options="opt for opt in dropdowns.mode"
                     ng-required
                     >
              </select>
              <label>Meter</label><input ng-model="newTune.meter" ng-required/>
              <label>Notes</label>
              <textarea ng-model="newTune.notes"></textarea>
              <label>Rating</label>
              <select
                 ng-model="newTune.rating"
                 ng-options="opt.value as opt.label for opt in dropdowns.rating"
                 ng-required
                 >
              </select>
              <label>Popularity</label>
              <select
                 ng-model="newTune.popularity"
                 ng-options="opt.value as opt.label for opt in dropdowns.popularity"
                 >
              </select>
            </fieldset>
          
        </div>
        <div class="span5">
          <label>abc</label>
          <textarea ng-model="newTune.abc" ng-required></textarea>
              
          <h3>Performance</h3>
          <fieldset>
              <label>Instrument</label><input ng-model="newTune.performance.instrument" />
              
              <label>Difficulty</label>
              <select
                 ng-model="newTune.performance.difficulty"
                 ng-options="opt.value as opt.label for opt in dropdowns.difficulty"
                 >
              </select>
              <label>Special attention<input type="checkbox"
                 ng-model="newTune.performance.special"
                >
              <label>Practice</label>
              <select class="practice"
               ng-model="newTune.performance.standard"
               ng-options="opt.value as opt.label for opt in dropdowns.playback"
               ng-change="update()" ></select>s
              
          </fieldset>
          
        </div>
    </div>
     
    <div class="modal-footer">
        <a href="#" class="btn btn-warning" ng-click="$dismiss()">Cancel</a>
        <a href="#" class="btn btn-success" ng-click="save()">Save</a>
    </div>
</section>

