.tune {
}

.tune__details {
	padding: 10px;
	position: relative;
	box-sizing: border-box;
	color: $tune-font-color;
}

.tune__actions {
	@include actions('&>a, &>button');
}

.tune__edit {
	@include primaryAction(mode_edit, $blue);
}

.tune__edit-tunebooks {
	@include primaryAction(my_library_add, $green);
}

.tune__tunebook-togglers {
	position: absolute;
	min-width: 200px;
	max-height: 200%;
	background: $neutral-bg;
	bottom: 100%;
	list-style: none;
	overflow-x: scroll;
	overflow-y: hidden;
	display:none;

	&.active {
		display: block;
	}
}

.tune__view-abc {
	@include inlineIconButton(queue_music);
}

.tune__tunebook i {
	@include inlineIconButton('');
	height: 16px;
	width: 16px;
	background-size: 16px;
}

@each $tunebook in mandolin, guitar, whistle {
	.tune__tunebook--#{$tunebook} i{
		background-image: url('/assets/img/ic_#{$tunebook}_black.png');
	}
}