<li class="tune" data-tune-id="{{_id}}">
	<div class="tune__details">
		<h2 class="tune__name"><button class="tune__view-abc" data-tune-id="{{_id}}"></button>{{ name }}
			{% for tunebook in tunebooks %}
				{% if tunebook.isListed %}
					<a href="/practice/{{tunebook.name}}" class="tune__tunebook tune__tunebook--{{tunebook.name}}"><i></i></a>
				{% endif %}
			{% endfor %}
			({{rhythms}} in {{keys}})
		</h2>
	</div>
	<div class="tune__actions">
		<ul class="tune__tunebook-togglers">
			{% for tunebook in tunebooks %}
				<fieldset class="tune__tunebook-toggle">
					<input {% if tunebook.isListed %}checked {% endif %}type="checkbox" value="{{tunebook.name}}">
					<label>{{tunebook.name}}</label>
				</fieldset>
			{% endfor %}
		</ul>
		<button class="tune__edit-tunebooks"><i></i></button>
		<a href="/sets/edit/{{_id}}" class="tune__edit"><i></i></a>
	</div>
	<div class="tune__abc"></div>
</li>